/* 
=====================
COLORS
=====================
*/
$theme-color: #84BBBF;
$dark-green: #637268;
$grey: #A2A2A2;
$white: white;

/* 
=====================
FONTS
=====================
*/
$font-family: "Helvetica Neue";
$font-family-condensed: "HelveticaNeue-CondensedBold";
/* 
=====================
TEXT BLOCKS
=====================
*/
